*~
*.cache
ABOUT-NLS
aclocal.m4
autotools
compile
config.*
configure
intl
libtool
Makefile
!extras/contrib/Makefile
!extras/contrib/src/Makefile
Makefile.in
stamp-*
vlc-config
vlc-config.in
*.o
*.dmg
*.deps
*.dirstamp
.DS_Store
*.a
*.dylib
extras/MacOSX/build/
*.mode1
*.mode1v3
*.pbxuser
*.app
.gdb_history