*.tar.gz
*.tar.bz2
*.tgz
*.zip
.*
!.gitignore
a52dec
dirac
faac
faad2
ffmpeg
flac
freetype2
fribidi
gettext
gnutls
goom
lame
libcaca
libdc1394
libdca
libdvbpsi
libdvdcss
libdvdnav
libebml
libgcrypt
libgpg-error
libiconv
libid3tag
libmad
libmatroska
libmodplug
libogg
libpng
libraw1394
libtheora
libvorbis
live
mpcdec
mpeg2dec
speex
twolame
wxwidgets
x264
xml
zlib
